.colorcodesgrey {
  color: gainsboro;
  color: lightgray;
  color: silver;
  color: darkgrey;
  color: grey;
  color: dimgrey;
  color: lightslategrey;
  color: slategrey;
  color: darkslategrey;
  color: black
}

.routerbody {
  background-color: white;
}

hr {
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: darkslategrey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CreateNote {
  /* background-color: #2c3e50; */
  min-height: 100vh;
  color: darkslategrey;
}

.ShowNoteDetails {
  /* background-color: #2c3e50; */
  min-height: 100vh;
  color: darkslategrey;
}

.ShowNoteDetails .table {
  color: black;
}

.UpdateNoteInfo {
  /* background-color: #2c3e50; */
  min-height: 100vh;
  color: darkslategrey;
  ;
}

.ShowNoteList {
  /* background-color: #2c3e50; */
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: darkslategrey;
  ;
}

/* NoteList Styles */
.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.card-container {
  width: 100%; /*500px;*/
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.card-container a,a:visited,a:hover {
  color: darkslategrey
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3, p {
  font-weight: 300;
  color: grey;
}

.desc h3 {
  color: grey;
  font-size: 1em;
  padding: 10px 0 10px 0;
}

td textarea {
  width: 100%;
  resize: none;
  background: none;
  /*overflow-y: scroll;
  border: none;*/
  outline:none;
  padding: 0;
  margin: 0;

}

.editta {
  resize: none;
  /*border: none;*/
  /*background: none;
  overflow-y: scroll;
  outline:none;*/
}

.gridcode {
  display: grid;
  height: 300px;
  overflow: auto;
  overflow-wrap: normal;
  line-break: auto;
}

.gridcode codex {
  word-break: break-all;
  white-space: normal;
}

.showRawTextBadge {
  padding-bottom: 5px;
}

.showRawText {
  white-space: pre-wrap;
}

